.theme-dark {
  --primary-background-color: #f06445;
  --primary-color: #fff;

  --secondary-background-color: #3a97a5;
  --secondary-color: rgba(255, 255, 255, 0.85);

  --danger-background-color: red;
  --danger-color: white;

  --warning-background-color: rgb(232, 196, 68);
  --warning-color: #fff;

  --success-background-color: #d8d935;
  --success-color: #fff;

  --info-background-color: #4fc9da;
  --info-color: #fff;

  --base-background-color: #272d36;
  --base-color: rgba(255, 255, 255, 0.80);

  --card-background-color: #323944;
  --card-color: rgba(255, 255, 255, 0.80);
}