.theme-default {
  --primary-background-color: #f06445;
  --primary-color: #fff;

  --secondary-background-color: #4fc9da;
  --secondary-color: #fff;

  --danger-background-color: red;
  --danger-color: white;

  --warning-background-color: rgb(232, 196, 68);
  --warning-color: #fff;

  --success-background-color: #d8d935;
  --success-color: #fff;

  --info-background-color: #4fc9da;
  --info-color: #fff;

  --base-background-color: #f8f6f2;
  --base-color: rgba(33, 31, 28, 0.80);

  --card-background-color: #fff;
  --card-color: #211f1c;
}

.color-primary {
  transition: color 700ms, background-color 700ms;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.color-secondary {
  transition: color 700ms, background-color 700ms;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

.color-danger {
  transition: color 700ms, background-color 700ms;
  background-color: var(--danger-background-color);
  color: var(--danger-color);
}

.color-text-danger {
  transition: color 700ms;
  color: var(--danger-background-color);
}

.color-warning {
  transition: color 700ms, background-color 700ms;
  background-color: var(--warning-background-color);
  color: var(--warning-color);
}

.color-text-warning {
  transition: color 700ms;
  color: var(--warning-background-color);
}

.color-info {
  transition: color 700ms, background-color 700ms;
  background-color: var(--info-background-color);
  color: var(--info-color);
}

.color-text-info {
  transition: color 700ms;
  color: var(--info-background-color);
}

.color-success {
  transition: color 700ms, background-color 700ms;
  background-color: var(--success-background-color);
  color: var(--success-color);
}

.color-text-success {
  transition: color 700ms;
  color: var(--success-background-color);
}

.color-base {
  transition: color 700ms, background-color 700ms;
  background-color: var(--base-background-color);
  color: var(--base-color);
}

.color-card {
  transition: color 700ms, background-color 700ms;
  background-color: var(--card-background-color);
  color: var(--card-color);
}
