@import url('./themes/theme-default.css');
@import url('./themes/theme-dark.css');

.color-primary {
  transition: color 700ms, background-color 700ms;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.color-text-primary {
  color: var(--primary-background-color);
}

.color-secondary {
  transition: color 700ms, background-color 700ms;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

.color-text-secondary {
  color: var(--primary-background-color);
}

.color-danger {
  transition: color 700ms, background-color 700ms;
  background-color: var(--danger-background-color);
  color: var(--danger-color);
}

.color-text-danger {
  transition: color 700ms;
  color: var(--danger-background-color);
}

.color-warning {
  transition: color 700ms, background-color 700ms;
  background-color: var(--warning-background-color);
  color: var(--warning-color);
}

.color-text-warning {
  transition: color 700ms;
  color: var(--warning-background-color);
}

.color-info {
  transition: color 700ms, background-color 700ms;
  background-color: var(--info-background-color);
  color: var(--info-color);
}

.color-text-info {
  transition: color 700ms;
  color: var(--info-background-color);
}

.color-success {
  transition: color 700ms, background-color 700ms;
  background-color: var(--success-background-color);
  color: var(--success-color);
}

.color-text-success {
  transition: color 700ms;
  color: var(--success-background-color);
}

.color-base {
  transition: color 700ms, background-color 700ms;
  background-color: var(--base-background-color);
  color: var(--base-color);
}

.color-text-base {
  color: var(--base-color);
}

.color-card {
  transition: color 700ms, background-color 700ms;
  background-color: var(--card-background-color);
  color: var(--card-color);
}

.color-text-card {
  color: var(--card-color);
}
